.profile__cross {

  width: 22px;

  background-image: url(../../../images/plus_only.svg);

  background-repeat: no-repeat;
  background-position: center;


}

.profile__cross:hover {
  opacity: 0.6;
}
