.profile__title {
  margin-top: 0px;
  margin-bottom: 0px;


  color: #FFFFFF;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;

  padding-top: 18px;

  overflow: hidden;


}


@media (max-width: 425px) {

  .profile__title {
    padding-top: 16px;
    box-sizing: border-box;
    font-size: 27px;
    line-height: 56px;
    text-align: center;
    width: 201px;

  }
}
