.modal__close-button {
  position: absolute;
  top: -36px;
  right: -36px;


  width: 40px;
  height: 40px;
  /* background: #FFFFFF; */
  transform: rotate(45deg);
  background: transparent;
  border: none;
  padding: 0;
  background-image: url(../../../images/plus_only.svg);
  background-size: cover;

  outline: none;



}

.modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 425px) {

  .modal__close-button {
    top: -18px;
    right: -18px;
    width: 20px;
    height: 20px;

  }
}

