.profile__add-button {
  margin-top: 0px;
  margin-bottom: 0px;

  min-width: 150px;
  height: 50px;

  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;

  align-self: center;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url(../../../images/plus_only.svg);

  background-repeat: no-repeat;
  background-position: center;

}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}


@media (max-width: 680px) {

  .profile__add-button {

    margin-top: 36px;

  }
}

@media (max-width: 425px) {

  .profile__add-button {
    width: 100%;
    margin-top: 36px;

  }
}
