.elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;

  padding-top: 51px;


}

.elements::after {
  content: "";
  /* padding-right: 18px; */
  flex: auto;
}

@media (max-width: 910px) {

  .elements {
    justify-content: space-evenly;
  }
}
