.modal__container {
  max-width: 430px;
  max-height: 330px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: black;
  padding: 34px 36px 36px 36px;
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;

}
