@import url(./__image/element__image.css);
@import url(./__heart/element__heart.css);
@import url(./__description/element__description.css);
@import url(./__title/element__title.css);
@import url(./__delete/element__delete.css);
@import url(./__heart/element__heart.css);
@import url(./__heart/_black/element__heart_black.css);
@import url(./__count-likes/__count-likes.css);
@import url(./__card-info/__card-info.css);


.element {
  width: 282px;
  height: 361px;

  background-color: #FFFFFF;

  border-radius: 10px;

  margin-bottom: 20px;

  position: relative;

}
